$primaryGreenColor: #65c466;
$primaryWhiteColor: #ffffff;
$bgColor: #243246;
$primaryTextColor: #9d9d9d;
$secondTextColor: #414141;
$thirdTextColor: #c2c2c2;
$fourthTextColor: #a3a3a3;
$fifthTextColor: #696969;
$sixthTextColor: #a9a9a9;
$seventhTextColor: #959aa6;
$iconColor: #c2c1c2;
$gilroyFont: Gilroy;
$trajanFont: Trajan Pro 3;
$robotoFont: 'Roboto', sans-serif;
