$green-color: #65c466;
$secondary-green-color: #294b29;
$white-color: #ffffff;
$bg-color: #243246;
$primary-text-color: #9d9d9d;
$secondary-text-color: #414141;
$third-text-color: #c2c2c2;
$fourth-text-color: #a3a3a3;
$fifth-text-color: #696969;
$sixth-text-color: #a9a9a9;
$seventh-text-color: #959aa6;
$icon-color: #c2c1c2;
$gilroy-ff: Gilroy;
$trajan-ff: Trajan Pro 3;
$roboto-ff: 'Roboto', sans-serif;
$button-bg-color: #f0f0f0;
$shadow-color: rgba(0, 0, 0, 0.15);
